/* Reset CSS básico */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  overflow: hidden;
}

body {
  font-family: sans-serif;
  background: #fff;
  color: #000;
}

a {
  text-decoration: none;
  color: inherit;
}

ul,
li,
ol {
  list-style: none;
}

img {
  max-width: 100%;
  display: block;
}

button {
  background: none;
  border: none;
  cursor: pointer;
  font: inherit;
}
